.hw12 {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    align-items: center;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}