.navbar {
    position: fixed;
    transform: translateX(-230px);
    transition: 1000ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    height: 30px;
    background-color: rgba(35,35,35);
    /*width: 230px;*/
    border-radius: 5px;
    box-shadow: 1px -1px 1px 1px rgb(58 58 59 / 50%);
    padding: 5px;
}

.navbar:hover {
    transform: translateX(5px);
    transition: 500ms;
}



.item {
    font-weight: bold;
    color: #a7a7ea;
    font-family: sans-serif;
    margin-right: 10px;
    text-decoration: none;
}
.active{
    margin-right: 10px;
    color: cornsilk;
}

.item:hover {

    text-decoration-line: underline;
}