.context {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select {
    height: 50px;
    width:  50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 5px;
}
.radio {
    zoom: 2;
}
.label {
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}